.user__panel__editarUser-botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    margin-top: 1rem;
}

.user__panel__pacientes-editarUser{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (min-width: 1700px){
    .user__panel__pacientes-editarUser{
        padding: 3rem 30rem !important;
    }
}

@media screen and (min-width: 1400px){
    .user__panel__editarUser-botones{
        margin-left: 3rem;
    }

    .user__panel__pacientes-editarUser{
        padding: 3rem 20rem !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .user__panel__pacientes-editarUser{
        height: 100vh !important;
    }
}

@media screen and (max-width: 992px){
    .user__panel__editarUser-botones{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .user__panel__pacientes-editarUser{
        padding-top: 3rem;
        padding-bottom: 0;
        justify-content: center !important;
        height: 100vh !important;
    }
}