.input{
    background-color: rgb(240, 240, 240) !important;
    border-radius: 23px !important;
    padding: 0.5rem 1rem !important;
}

#btnContacto{
    background-color: var(--global-color-primary);
    border-radius: 23px;
    border: 0;
    transition: background-color 0.25s ease;
}

#btnContacto:hover{
    background-color: var(--global-color-primary-dark) !important;
}

.feedback{
    margin-left: 1rem;
}