.titulos__registro{
    position: relative;
}

.titulos__registro-img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.titulos__registro-img img{
    width: 100%;
}

@media screen and (max-width: 768px){
    .titulos__registro-img{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px){
    .titulos__registro-img{
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1600px){
    .titulos__registro-img{
        height: 100px;
        width: 100px;
    }
}