.admin__panel__pacientes-newUser{
    width: 100%;
    padding: 0 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.admin__panel__pacientes-editarUser{
    width: 100%;
    padding: 0 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.admin__panel__pacientes-editarUser-mascotas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin__panel__pacientes-editarUser-btnMascotas{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    border: 0;
    position: relative;
    margin-bottom: 1rem;
}

.admin__panel__pacientes-editarUser-btnMascotas img{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.admin__panel__pacientes-editarUser-btnMascotas:hover{
    background-color: rgb(218, 218, 218);
}

@media screen and (max-width: 1400px){
    .admin__panel__pacientes-newUser,.admin__panel__pacientes-editarUser{
        padding: 0 15rem;
    }

    .admin__panel__pacientes-editarUser-mascotas{
        padding: 0 2rem;
    }
}

@media screen and (max-width: 1200px){
    .admin__panel__pacientes-content{
        margin-top: 40px;
    }

    .admin__panel__pacientes-newUser{
        height: calc(100vh - 72px);
    }
}

@media screen and (max-width: 992px) {
    .admin__panel__pacientes-newUser h1,.admin__panel__pacientes-editarUser h1{
        font-size: 2rem;
        line-height: 50px;
    }

    .admin__panel__pacientes-newUser,.admin__panel__pacientes-editarUser{
        text-align: center;
    }

    .admin__panel__pacientes-editarUser{
        flex-direction: column;
        justify-content: flex-start;
    }

    .admin__panel__pacientes-editarUser-btnMascotas{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px){
    .admin__panel__pacientes-newUser,.admin__panel__pacientes-editarUser{
        padding: 0 5rem;
    }
}

@media screen and (max-width: 576px){
    .admin__panel__pacientes-newUser,.admin__panel__pacientes-editarUser{
        padding: 0 1rem;
    }
}