.rombo {
  height: 450px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rombo__item {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow: hidden;
  transform: rotate(45deg);
  border-radius: 23px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  filter: grayscale(1);
  transition: filter 0.5s;
}

.rombo__item img {
  position: absolute;
  transform: rotate(-45deg);
  width: 140%;
  height: 140%;
  top: -50%;
  left: -50%;
  bottom: -50%;
  right: -50%;
  margin: auto;
  object-fit: cover;
  transition: all 0.5s;
}

.rombo__item-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 200px solid rgb(255, 255, 255);
  border-right: 200px solid transparent;
  top: 10%;
  left: 10%;
  transform: rotate(-90deg);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.rombo__item-nombre {
  position: absolute;
  top: 56%;
  left: 45%;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 1.25rem;
  transform: rotate(-45deg);
  text-align: center;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}

.rombo__item:hover {
  filter: grayscale(0);
}

.rombo__item:hover > img {
  filter: grayscale(0);
  width: 135%;
  height: 135%;
}

.rombo__item:hover > .rombo__item-nombre {
  font-size: 1.30rem;
}

.rombo__item:nth-child(1) {
  top: calc(50% - 282px);
  left: calc(50%-141px);
}
.rombo__item:nth-child(2) {
  top: calc(50% - 135px);
  left: calc(50% - 250px);
}
.rombo__item:nth-child(3) {
  top: calc(50% + 13px);
  left: calc(50% - 100px);
}
.rombo__item:nth-child(4) {
  top: calc(50% - 135px);
  right: calc(50% - 250px);
}
