.main-planes__title {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  margin-top: 2rem;
  background: linear-gradient(90.06deg, #f72c2c 13.69%, #3a5aff 86.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-planes__listaYFoto{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
}

.main-planes__ul {
  padding-left: 0;
}

.main-planes__ul li {
  margin-bottom: 0.5rem;
}

.main-planes__divImg{
    width: 450px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.356));
}

.main-planes__divImg img{
    width: 100%;
    height: 100%;
    clip-path: circle(38% at 50% 50%);
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .main-planes__title{
        font-size: 58px;
        line-height: 65px;
        margin-bottom: 1rem;
    }
    .main-planes__listaYFoto{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .main-planes__divImg{
        width: 100vw;
    }

    .main-planes__ul li {
        margin-bottom: 1rem !important;
    }
    
}

@media screen and (max-width: 992px) {
  .main-planes__title {
    background: linear-gradient(90.02deg, #f72c2c 13.91%, #3a5aff 192.83%);
    background-clip: text;
  }
}
