
.swal2-popup{
    width: 25rem;
}

.swal2-cancel, .swal2-confirm, .swal2-popup{
    border-radius: 23px !important;
    padding: 0.75rem 1.25rem !important;
}

.swal2-actions{
    margin: 1rem 0
}

.admin__tables-btn{
    height: 100% !important;
}

.admin__tables-avatar{
    height: 50px;
    width: 100%;
}

.admin__tables-avatar img{
    height: 50px;
}