.user__planes-container{
    border: 1px solid rgba(231, 231, 231, 0.623);
    box-shadow: 0 0 15px 15px rgba(141, 141, 141, 0.027);
    border-radius: 23px;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .user__planes-container{
        flex-direction: column;
    }
}