.admin__panel__nuevaCita-forms{
    border-right: 1px solid #ccc;
}

.admin__panel__nuevaCita-forms-cita{
    position: relative;
}

.admin__panel__nuevaCita-forms-cita__disabled{
    position: absolute;
    height: calc(100% - 1.95rem);
    width: 100%;
    border-radius: 23px;
    background-color: rgba(204, 204, 204, 0.308);
}

@media screen and (max-width: 768px) {
    .admin__panel__nuevaCita-forms{
        border-right: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
    }

    .admin__panel__nuevaCita-tabla{
        margin-top: 1rem !important;
    }
}