.error__page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error__img{
    max-width: 10vw;
}

.error__img img{
    width: 100%;
}

.error_page-code{
    position: fixed;
    bottom: 0;
    color: gray;
}

@media screen and (max-width: 1200px) {
    .error__page{
        height: calc(100vh - 72px);
    }

    .error__img{
        max-width: 30vw;
    }
}

@media screen and (max-width: 768px) {
    .error__img{
        max-width: 50vw;
    }
}