.admin__tables{
    text-align: start;
}

.admin__tables-btn{
    display: flex;
    justify-content: flex-start;
}

.admin__tables-btn button{
    margin-right: 0.5rem;
    border-radius: 23px !important;
    padding: 0.5rem 1rem !important;
}
