.plan__seccion{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 23px;
    backdrop-filter: blur(3px);
}

.plan__descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.plan__precio{
    font-weight: 800;
    font-size: 36px;
    letter-spacing: -0.04em;
}

.plan__boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan__boton button{
    background: var(--global-color-secondary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    padding: 1rem 2rem;
    width: 100%;
    margin: 0;
    border: 0;
    color: #fff;
    transition: background-color 0.25s ease;
}

.plan__boton button:hover{
    background: var(--global-color-secondary-dark);
}

.p__precioFinal{
    margin-bottom: 0;
}

/* .plan__seccion:nth-child(even){
    flex-direction: row-reverse;
    text-align: end;
} */

.plan__seccion:first-child{
    margin-top: 5rem;
}

.plan__seccion:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .plan__seccion{
        flex-direction: column !important;
        text-align: center !important;
        margin-bottom: 2rem;
    }

    .plan__seccion:last-child{
        margin-bottom: 5rem;
    }
    
    .p__precioFinal{
        margin-bottom: 1rem;
    }
}