.gradient__bg{
    background: radial-gradient(98.16% 98.16% at 50% 1.84%, #BFBAFF 0%, rgba(77, 170, 236, 0.74651) 44.27%, #BFBAFF 71.73%, rgba(191, 186, 255, 0.35) 88.69%);
}

.h3__bold{
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -0.04em;
}

.p__descripciones{
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
}