@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;800&display=swap');

:root{
  --global-color-primary: #3a5bffd7;
}

*{
    font-family: 'Manrope', arial, sans-serif;
    scroll-behavior: smooth;
    color: #000;
}

a{
  text-decoration: none;
  transition: color 0.25s;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
