.input{
    background-color: rgb(238, 238, 238) !important;
    border-radius: 23px !important;
    padding: 0.5rem 1rem !important;
}

.btnForm{
    background-color: var(--global-color-primary);
    border-radius: 23px;
    border: 0;
    transition: background-color 0.25s ease;
    padding: 0.5rem;
    color: #fff;
}

.btnForm:hover{
    background-color: var(--global-color-primary-dark) !important;
}

.feedback{
    margin-left: 1rem;
}