.admin__precios-item {
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid rgba(231, 231, 231, 0.623);
  border-radius: 23px;
  box-shadow: 0 0 15px 15px rgba(141, 141, 141, 0.027);
}

.admin__precios-item:first-child {
  margin-left: 0;
}

.admin__precios-item:last-child {
  margin-right: 0;
}

.admin__precios-item__titulo {
  margin-bottom: 0;
}

.admin__precios-item-info {
  margin-bottom: 1rem;
}

.admin__precios-item-new {
    text-align: end;
  }

.admin__precios-item-input {
  border-radius: 23px;
  padding: 1rem;
  border: 1px solid rgb(231, 231, 231);
  width: 150px;
  text-align: center;
}

.admin__precios-item-btn {
  border-radius: 23px;
  padding: 1rem 1.2rem;
  border: 1px solid rgb(231, 231, 231);
  margin: 0 0 0 0.5rem;
}

.admin__precios-item-input-invalid{
  border: 1px solid red;
  background-color: rgb(255, 216, 216);
}

@media screen and (max-width: 992px) {
  .admin__precios-item {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    text-align: start;
  }

  .admin__precios-item:first-child {
    margin-top: 0;
  }

  .admin__precios-item-info {
    margin-bottom: 0;
  }

  .admin__precios-item-new {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .admin__precios-item {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .admin__precios-item-info {
    margin-bottom: 1rem;
  }
}
